body {
  font-family:'Montserrat', 'Lato', sans-serif;
}

.navbar-brand img {
  scale: 1.75;
  margin: 0 20px 10px;
}

#header-text {
  font-size: 30px;
  font-weight: bold;
}


#main-content {
  margin: 100px 0 0;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

#operators-list, .team-list {
  padding-left: 3px;
  font-size: 1.5rem;
}

#operators-list > li:hover {
  cursor: pointer;
  background-color: green;
  color: white;
  scale: 1.05;
}

.card {
  width: 50rem;
  padding: 20px 0;
}

.card-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: green;
  text-decoration: underline;
}

.card-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-image {
  align-self: center;
}

.card-image > img {
  height: 300px;
}

.body-and-form {
  display: flex;
  flex-direction: column;
}

.card-body {
  padding-left: 0;
}

.rank-form, .team-form{
  display: flex;
  gap: 10px;
}

.header-label > h5 {
  width: 60px;
}

.header-label {
  display: flex;
  gap: 25px;
  margin: 5px 0;
}

#operator-name, #operator-rank, #operator-team {
  font-weight: bold;
}